# ignore python generated bin files
*.pyc

# ignore apache wsgi files
*.wsgi

# picture upload directory
uploads
uploads/*

# home directory files
.zshrc
.gitconfig
.zsh_history
.viminfo
.zcompdump
