{% block body %}
<img id="caleidoscope" src="{{ url_for('gen_caleidoscope', upload_id=upload_id) }}" width=720, height=720 />
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script type="text/javascript">
    var rotations = 4;
    var brightness = 1.3;
    var mask_size_factor = 0.7;
    var mask_strength = 0.3;
    var mask_blur = 100;

    function reload_image() {
        var image_url = "{{ 
            url_for('gen_caleidoscope', 
                upload_id=upload_id)
        }}";
        $("img#caleidoscope").attr("src", image_url 
                + "?rot=" + rotations
                + "&bright=" + brightness
                + "&msf=" + mask_size_factor
                + "&mstr=" + mask_strength
                + "&mbl=" + mask_blur);
        console.log("test");
    }
    
    $(document).ready(function() {
        $("#rotations").val(rotations);
        $("#brightess").val(brightness);
        $("#mask_size_factor").val(mask_size_factor);
        $("#mask_strength").val(mask_strength);
        $("#mask_blur").val(mask_blur);
        $("input.settings").change(function() {
            rotations = $("#rotations").val();
            brightness = $("#brightness").val();
            mask_size_factor = $("#mask_size_factor").val();
            mask_strength = $("#mask_strength").val();
            mask_blur = $("#mask_blur").val();
            reload_image();
        });
    });
</script>
<form>
    <dl>
        <dt>Rotations:
        <dd><input id="rotations" class="settings" type="range" min="0" max="20" step="1" />
        <dt>Brightness:
        <dd><input id="brightness" class="settings" type="range" min="0" max="3" step="0.1" />
        <dt>Mask Size:
        <dd><input id="mask_size_factor" class="settings" type="range" min="0.0" max="1.0" step="0.01" />
        <dt>Mask Strength:
        <dd><input id="mask_strength" class="settings" type="range" min="0.0" max="1.0" step="0.01" />
        <dt>Mask Blur:
        <dd><input id="mask_blur" class="settings" type="range" min="0" max="500" step="1" />
    </dl>
</form>
{% endblock %}